.rim {
    border: 1px solid black;
    margin: 0 auto;
    align-self: flex-end;
    flex-basis: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.col-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 14rem;
}

.jumbotron {
    padding: 1rem 1rem !important;
}

#reset {
    display: none;
}

.slider.slider-horizontal {
    width: 60%;
}